.project-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.project-carousel, .project-text {
    flex: 1 1 45%;
    min-width: 300px;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 250px;
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.swiper {
    width: 100%;
    overflow: hidden;
}
.swiper-pagination {
    position: relative !important;
    padding-top: 20px;
    bottom: auto !important;
}
.accordion-body {
    overflow-x: hidden;
}

.small-top-space {
    padding-top: 10px;
}

.xs-top-space {
    padding-top: 5px;
}

.medium-top-space {
    padding-top: 20px;
}