.project-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.project-carousel, .project-text {
    flex: 1 1 45%;
    min-width: 300px;
}
.swiper-wrapper {
    display: flex;
    align-items: center;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 45px 0 45px;
}
.swiper-slide img {
    max-width: 100%;
    height: auto;
    max-height: 240px; 
    object-fit: contain;
}
.swiper-slide iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 32 / 15;
}
.swiper-slide img, .swiper-slide iframe {
    max-width: 100%;
    height: auto;
    max-height: 240px;
    object-fit: contain;
}
.swiper {
    width: 100%;
    overflow: hidden;
}
.swiper-pagination {
    position: relative !important;
    bottom: auto !important;
}
.accordion-body {
    overflow-x: hidden;
}

.about-me-carousel {
    padding: 0px 20px 0px 20px;
}

.small-top-space {
    padding-top: 10px;
}

.xs-top-space {
    padding-top: 5px;
}

.medium-top-space {
    padding-top: 20px;
}

.image-description {
    text-align: center;
}

.resume-preview-img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    border-radius: 8px;
    margin: 0 auto;
}

.resume-preview-section {
    padding-top: 10px;
}
